<header
    class="bg-white/95 backdrop-blur-xl sticky top-0 px-8 py-6 flex items-center justify-between z-20 border-b-2 border-slate-200">
    <div class="flex items-center gap-4">
        <div
            class="w-10 h-10 bg-slate-50 border-2 border-slate-100 rounded-xl flex items-center justify-center lg:hidden cursor-pointer hover:bg-slate-100 transition-colors">
            <i class='bx bx-menu text-2xl text-slate-600'></i>
        </div>
        <div class="flex flex-col lg:flex-row lg:items-center gap-1 lg:gap-3">
            <h1 class="text-[18px] lg:text-[22px] font-black text-[#003D5D] tracking-tight no-uppercase">Gestão de
                restos a pagar não processados</h1>
        </div>
    </div>
    <div class="flex items-center gap-6">
        <button class="text-slate-400 hover:text-[#003D5D] transition-colors relative group">
            <i class='bx bx-help-circle text-2xl'></i>
            <span
                class="absolute -bottom-10 left-1/2 -translate-x-1/2 bg-slate-800 text-white text-[10px] px-2 py-1 rounded opacity-0 group-hover:opacity-100 transition-opacity whitespace-nowrap">Ajuda</span>
        </button>
        <button class="relative text-slate-400 hover:text-[#003D5D] transition-colors group">
            <i class='bx bx-bell text-2xl'></i>
            <span class="absolute top-0 right-0 w-2.5 h-2.5 bg-[#D61A21] rounded-full border-2 border-white"></span>
            <span
                class="absolute -bottom-10 left-1/2 -translate-x-1/2 bg-slate-800 text-white text-[10px] px-2 py-1 rounded opacity-0 group-hover:opacity-100 transition-opacity whitespace-nowrap">Notificações</span>
        </button>
    </div>
</header>